* {
    box-sizing: border-box;


}

body {
    margin: 0;
}

.background_image {

    background-image: url("../images/nza_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 13%;
    padding-right: 10%;
    margin: 0px auto;


}

.header {
    background-color: white;
    width: 100%;
    margin-top: 25px;
}



.nav_bar {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px auto;
    border: solid;
    border-bottom-color: black;
    border-left: none;
    border-right: none;
    font-size: 15px;
    margin-top: 0px;
    font-weight: 500;
    

}

.nav_bar ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-bottom: 10px;

}


.nav_bar li {

    padding: 0px 30px;
    border-right: 1px solid gray;
    margin: 0.575rem 0px;
    margin-bottom: .17px;
}

.nav_bar li:last-child {
    border-right: none;
    border-color: white;
}


.nav_bar a {
    text-decoration: none;
    color: black;


}

.main_content {
    min-height: 660px;
    background-color:white;
}

.back-image{
    background-image:url("../images/nav_side_sub.jpg");
    height:67vh;
}

.footer{
    background-color: white;
}

.container-fluid {
    font-size: 14px;
    
}